
.vs/LedyBot Giveaway Details Batch Creator/v15/.suo
*.lock
*.ide
*.ide-wal
*.config
*.exe
*.pdb
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.csproj.FileListAbsolute.txt
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.csproj.FileListAbsolute.txt
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.csproj.GenerateResource.cache
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.csprojAssemblyReference.cache
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.exe
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.pdb
LedyBot Giveaway Details Batch Creator/bin/Debug/GiveawayDetails.xml
.vs/LedyBot Giveaway Details Batch Creator/v15/Server/sqlite3/storage.ide-shm
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.csproj.FileListAbsolute.txt
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.csproj.GenerateResource.cache
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.csprojAssemblyReference.cache
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.exe
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.pdb
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.csproj.FileListAbsolute.txt
*.exe
*.exe
LedyBot Giveaway Details Batch Creator/obj/Debug/LedyBot Giveaway Details Batch Creator.exe
*.dll
*.xml
*.compressed
*.zip
LedyBot Giveaway Details Batch Creator/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LedyBot Giveaway Details Batch Creator/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LedyBot Giveaway Details Batch Creator/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.cache
*.txt
*.CopyComplete
